<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="ht.statictrafficmanagement.base.mapper.TaskDataInfoMapper">
		
	<!-- 插入路径数据 -->
	<!--Integer insert(TaskDB taskDB); -->
	<insert id="insert">
		insert into TaskDataInfo(
		TaskID,AlisData,PathList
		)values (
		#{TaskID},#{AlisData},#{PathList}
		)	
	</insert>
	
	<!--删除所有路径数据 -->
	<!-- Integer delete(int taskID);	 -->
	<update id="delete">
		DELETE FROM TaskDataInfo where TaskID = #{taskID};
	</update>
	
	<!-- List<TaskDB> getTaskDBList(); -->
	<select id="getTaskDBList" resultType="ht.statictrafficmanagement.base.vo.TaskDB">
		select * from TaskDataInfo;
	</select>
	





	
	
</mapper>
